<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>아이디 찾기</title>
</head>
<body>
    <div class="submit-container">
        <form id="form" class="form">
            <h2>아이디 찾기</h2>
            <div class="form-control">
                <label for="username">이름</label>
                <input type="text" id="username" />
                <small>Error message</small>
            </div>
            <div class="form-control">
                <label for="email">이메일</label>
                <input type="text" id="email" />
                <small>Error message</small>
            </div>
            <button>아이디 찾기</button>
        </form>
    </div>

    <script src="/static/js/member/findId.js"></script>
</body>
</html>